<section class="banner d-flex align-items-center justify-content-center">
    <div class="banner-content mx-auto">
        <h1 class="banner-title text-white text-center px-3"> St John Residential Lettings</h1>
        <p class="banner-subtitle text-center px-3">We offer high ends apartments in premium developments such as Westminster Quarter, Paddington Gardens, Goodman’s Field, Royal Wharf, London Docks and Smithfield Square.
        </p>
        <div class="d-flex align-items-center justify-content-center flex-wrap my-2">
            <button class="btn btn-primary m-2">View Programs</button>
            <button class="btn btn-primary m-2">Enquire</button>
        </div>
        <p class="text-center text-white font-18 font-bold my-4">In Partner with</p>
        <div class="d-flex align-items-center justify-content-center pb-4 pb-md-0">
            <img src=".\assets\images\right_move.svg" class="img-fluid mx-4 px-1">
            <img src=".\assets\images\zoopla.svg" class="img-fluid mx-4 px-1">
            
        </div>
    </div>
</section>