@import '../../../assets/scss/style.scss';
.banner{
    background: url(../../../assets/images/img3.png) no-repeat center;
     background-size: cover;
    min-height: 900px;
    
    .banner-content {
        max-width: 928px;
        .banner-title{
            font-size:96px;
            font-family:$secondary-font;
            @include respond-to('small') {
                font-size:42px;
              }
        }
        .banner-subtitle {
          font-size:24px;
          font-weight:400;
          padding: 24px 0;
          line-height: 150%;
          color: $text-white;
          @include respond-to('small') {
            font-size:14px;
          }
       }
    }
    @include respond-to('small') {
        min-height: 660px;
        align-items:flex-end !important;
      }
}