.btn{
    height:48px;
    padding:12px 24px 12px 24px;
    font-size:16px;
    font-weight:700;
    border-radius:8px;
    line-height: 1.4;
   
}
.btn-primary{
    background:$primary-color;
    border-color:$primary-color;
    &:hover{
        background-color: transparent;
        color:$primary-color;
        border-color:$primary-color;
    }
    @include respond-to('small') {
        width:75%;
      }
}
