$font-size: 100;
@for $font from 1 through $font-size {
  .font-#{$font} {
    font-size: $font + px !important;
  }
}

$margin-top: 100;
@for $mt from 1 through $margin-top {
  .mt-#{$mt} {
    margin-top: $mt + px !important;
  }
}
$breakpoints: (
  'small':  767px,
  'medium': 992px,
  'large':  1200px
) !default;
@mixin respond-to($breakpoint) {
 
  @if map-has-key($breakpoints, $breakpoint) {
 
    @media (max-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  }
 
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}