
/*.......Base Variable .......*/
$primary-color:#C1995B;
$green-color:#00455A;
$secondary-color:#F9F5EF;
$text-black:#000000;
$text-white:#ffffff;
$text-white:#FFF8F8;
$primary-font :'PlusJakartaSans';
$secondary-font:'PlayfairDisplay';
$border-top-color:#C1995B;

/*....... font family variables....... */

@font-face {
    font-family: 'PlusJakartaSans';
    src: url('../font/PlusJakartaSans-Regular.eot'); /* IE9 Compat Modes */
    src: url('../font/PlusJakartaSans-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../font/PlusJakartaSans-Regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../font/PlusJakartaSans-Regular.woff') format('woff'), /* Pretty Modern Browsers */
         url('../font/PlusJakartaSans-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../font/PlusJakartaSans-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
    font-weight:400;
  }
  @font-face {
    font-family: 'PlusJakartaSans';
    src: url('../font/PlusJakartaSans-Medium.eot'); /* IE9 Compat Modes */
    src: url('../font/PlusJakartaSans-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../font/PlusJakartaSans-Medium.woff2') format('woff2'), /* Super Modern Browsers */
         url('../font/PlusJakartaSans-Medium.woff') format('woff'), /* Pretty Modern Browsers */
         url('../font/PlusJakartaSans-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../font/PlusJakartaSans-Medium.svg#svgFontName') format('svg'); /* Legacy iOS */
    font-weight:500;
  }
  @font-face {
    font-family: 'PlusJakartaSans';
    src: url('../font/PlusJakartaSans-SemiBold.eot'); /* IE9 Compat Modes */
    src: url('../font/PlusJakartaSans-SemiBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../font/PlusJakartaSans-SemiBold.woff2') format('woff2'), /* Super Modern Browsers */
         url('../font/PlusJakartaSans-SemiBold.woff') format('woff'), /* Pretty Modern Browsers */
         url('../font/PlusJakartaSans-SemiBold.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../font/PlusJakartaSans-SemiBold.svg#svgFontName') format('svg'); /* Legacy iOS */
    font-weight:600;
  }
  @font-face {
    font-family: 'PlusJakartaSans';
    src: url('../font/PlusJakartaSans-Bold.eot'); /* IE9 Compat Modes */
    src: url('../font/PlusJakartaSans-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../font/PlusJakartaSans-Bold.woff2') format('woff2'), /* Super Modern Browsers */
         url('../font/PlusJakartaSans-Bold.woff') format('woff'), /* Pretty Modern Browsers */
         url('../font/PlusJakartaSans-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../font/PlusJakartaSans-Bold.svg#svgFontName') format('svg'); /* Legacy iOS */
    font-weight:700;
  }
 @font-face {
    font-family: 'PlayfairDisplay';
    src: url('../font/PlayfairDisplay-Medium.eot'); /* IE9 Compat Modes */
    src: url('../font/PlayfairDisplay-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../font/PlayfairDisplay-Medium.woff2') format('woff2'), /* Super Modern Browsers */
         url('../font/PlayfairDisplay-Medium.woff') format('woff'), /* Pretty Modern Browsers */
         url('../font/PlayfairDisplay-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../font/PlayfairDisplay-Medium.svg#svgFontName') format('svg'); /* Legacy iOS */
    font-weight:500;
  }
  @font-face {
    font-family: 'PlayfairDisplay';
    src: url('../font/PlayfairDisplay-Regular.eot'); /* IE9 Compat Modes */
    src: url('../font/PlayfairDisplay-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../font/PlayfairDisplay-Regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../font/PlayfairDisplay-Regular.woff') format('woff'), /* Pretty Modern Browsers */
         url('../font/PlayfairDisplay-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../font/PlayfairDisplay-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
    font-weight:400;
  }
  .font-regular{font-weight: 400;}
  .font-medium{font-weight: 500;}
  .font-semibold{font-weight: 600;}
  .font-bold{font-weight: 700;}