@import './mixins';
@import './reset';
@import './variable';
@import './buttons';


.bg-secondary{
    background-color: $secondary-color !important;
}
.text-green{color:$green-color;}
.text-underline{text-decoration: underline;}
.form-select{height:60px;border-radius:8px;font-size: 16px;color:$green-color;font-weight:500;}