<section class="about-wrapper text-center d-flex align-items-center">
    <div class="about-info mx-auto">
        <h3 class="about-title text-green mb-0">Find your next home</h3>
        <p class="font-18 font-regular mt-20 mb-30 text-green my-4 about-info">We have seven locations across London, all with their personality and character. Together we can find the perfect home for you.</p>
        <button class="btn btn-primary">Get Started</button>
    </div>
</section>