@import '../../../assets/scss/style.scss';

.about-wrapper{
   padding:50px 15px;
   min-height: 448px;
    .about-info{
        max-width: 768px;
    }
    .about-info{
        line-height: 30px;
    }
    .about-title{
        font-family: $secondary-font;
        @include respond-to('medium') {
          font-size:40px;
        }
    }
    @include respond-to('small') {
        padding: 40px 15px;
      } 
}
