<footer class="footer-wrapper">
    <div class="container mx-auto">
        <div class="row pb-5 mb-5">
            <div class="col-md-8">
               <div class="footer-info"> 
                <a href="#" class="footer-logo d-inline-block mb-4"><img src="./assets/images/logo-white.svg" class="img-fluid"/></a>
                <div class="contact-location mb-4">
                    <h3 class="font-14 font-semibold mb-2 text-white">Address:</h3>
                    <p class="font-14 font-regular text-white">Palladium House 1-4 Argyll Street, London, W1F 7LD</p>
                </div> 
                <div class="contact-info mb-4">
                    <h3 class="font-14 font-semibold mb-2 text-white">Contact:</h3>
                    <p class="font-14 font-regular text-white text-underline mb-2">07470 677 390</p>
                    <p class="font-14 font-regular text-white">info@stjohnlettings.co.uk</p>
                </div> 
                <div class="social-icon">
                    <a href="#" class="d-inline-block me-3 pe-2"><img alt="whats app" src="./assets/images/whatsapp-icon.svg" class="img-fluid"> </a>
                    <a href="#" class="d-inline-block me-3 pe-2"><img alt="Instagram" src="./assets/images/insta-icon.svg" class="img-fluid"> </a>
                    <a href="#" class="d-inline-block me-3 pe-2"><img alt="facebook" src="./assets/images/facebook-icon.svg" class="img-fluid"> </a>
               
                </div>
              </div>
            </div>
            <div class="col-md-2">
                <div class="footer-nav">
                    <ul>
                      <li><a href="#" class="font-16 font-semibold text-white mb-3 d-inline-block">Home</a></li>
                      <li><a href="#" class="font-16 font-semibold text-white mb-3 d-inline-block">About Us</a></li>
                      <li><a href="#" class="font-16 font-semibold text-white mb-3 d-inline-block">To Let</a></li>
                      <li><a href="#" class="font-16 font-semibold text-white mb-3 d-inline-block">Reviews</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2">
                <div class="footer-nav">
                    <ul>
                      <li><a href="#" class="font-16 font-semibold text-white mb-3 d-inline-block ">Favorites</a></li>
                      <li><a href="#" class="font-16 font-semibold text-white mb-3 d-inline-block">Contact Us</a></li>
                      <li><a href="#" class="font-16 font-semibold text-white mb-3 d-inline-block">Submit and Enquiry</a></li>
                      <li><a href="#" class="font-16 font-semibold text-white mb-3 d-inline-block">News</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-bottom pt-4 d-flex align-items-center justify-content-between flex-wrap">
            <p class="font-14 font-regular text-white pt-2">2022 St John Lettings. All right reserved.</p>
            <div class="footer-nav">
                <ul class="d-flex align-items-center  flex-wrap">
                  <li><a href="#" class="font-14 font-regular text-white text-underline d-inline-block mx-3">Privacy Policy</a></li>
                  <li><a href="#" class="font-14 font-regular text-white text-underline d-inline-block mx-3">Terms of Service</a></li>
                </ul>
            </div>
        </div>
    </div>
    
</footer>