@import '../../../assets/scss/style.scss';
.footer-wrapper{
    background-color: $green-color;
    padding: 80px 15px;
    .footer-bottom{
        border-top:1px solid $border-top-color;
    }
    @include respond-to('small') {
        padding: 50px 15px;
      }
    
}