

<div class="wrapper">
  <app-header></app-header>
  <app-search-bar></app-search-bar>
  <app-banner></app-banner>
  <app-about></app-about>
  <app-card></app-card>
  <app-about></app-about>
  <app-footer></app-footer>
</div>
<router-outlet></router-outlet>
