@import '../../../assets/scss/style.scss';
.card-wrapper{
    background-color:$green-color;
    .card-title{
        font-family: $secondary-font;
        font-size: 64px;
        @include respond-to('medium') {
            font-size:24px;
          }
    }
    .card-subtitle{
        font-size: 20px;
        line-height: 30px;
        @include respond-to('medium') {
            font-size:14px;
          }
    }
    .btn-primary{
        @include respond-to('small') {
          width: 100%;
          margin: 0 auto;
        }
       
    }
}