<section class="card-wrapper">
 
    <figure>
     <div class="card-img">
            <img src="./assets/images/img1.png" class="img-fluid w-100" >
     </div>
     <figcaption class="py-5">
      <div class="container mx-auto">
        <div class="row ">
          <div class="col-lg-10">
            <h3 class="card-title font-regular text-white mb-3">Royal Wharf</h3>
            <p class="card-subtitle text-white font-regular">
              Just minutes from Canary Wharf, and less than 30 minutes from Oxford Street, this is a rich, textured neighbourhood, focused around the lively central high street, a broad market square and a rolling riverside park.
            </p>
          </div>
          <div class="col-lg-2">
            <button class="btn btn-primary my-3">
              View Properties
            </button>
          </div>
        </div>
      </div>
     </figcaption>
    </figure>
    <figure>
      <div class="card-img">
             <img src="./assets/images/img2.png" class="img-fluid w-100" >
      </div>
      <figcaption class="py-5">
       <div class="container mx-auto">
         <div class="row ">
           <div class="col-lg-10">
             <h3 class="card-title font-regular text-white mb-3">Goodman’s Fields </h3>
             <p class="card-subtitle text-white font-regular">
              Goodman’s Fields is a stylish, modern mixed-use central London neighbourhood with over 1000 residential units and a smart selection of amenities set on the fringes of the City of London, nearby Aldgate East station.  </p>
           </div>
           <div class="col-lg-2">
             <button class="btn btn-primary my-3">
               View Properties
             </button>
           </div>
         </div>
       </div>
      </figcaption>
     </figure>
    
      <figure>
      <div class="card-img">
             <img src="./assets/images/img3.png" class="img-fluid w-100" >
      </div>
      <figcaption class="py-5">
       <div class="container mx-auto">
         <div class="row ">
           <div class="col-lg-10">
             <h3 class="card-title font-regular text-white mb-3">Smithfield Square</h3>
             <p class="card-subtitle text-white font-regular">
              Smithfield Square, a brand new collection of contemporary, high specification apartments in the heart of Hornsey. One long side of Smithfield Square houses a large hostel/bar/restaurant/indoor space and residences..
             </p>
           </div>
           <div class="col-lg-2">
             <button class="btn btn-primary my-3">
               View Properties
             </button>
           </div>
         </div>
       </div>
      </figcaption>
     </figure>
</section>
