@import '../../../assets/scss/style';
header{
    height:91px;
    .navbar-brand{width:112px;
      @include respond-to('medium') {
       flex-grow:1;
      }
    }
  .nav-link{
    font-weight: 700;
    color: $green-color !important;
    padding:0 24px !important;
    transition: 0.2s;
    &:Hover{
        opacity:0.7;
    }
  }
  @include respond-to('medium') {
    padding:15px !important;
  }
}
