
  <header class="d-flex flex-wrap align-items-center py-3 border-bottom px-5 mb-0 bg-secondary">
  <nav class="navbar navbar-expand-lg w-100">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"> <img src="../assets/images/logo.svg" alt="logo" class="img-fluid"/></a>
      <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#search" aria-controls="search" aria-expanded="false" aria-label="Toggle navigation">
        <img src="./assets/images/Search.svg" class="img-fluid">
      </button>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarNavDropdown">
        <ul class="navbar-nav d-flex align-items-center w-100">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">To Let</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Favorites</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">News</a>
          </li>
        </ul>
        <div class="col-md-4 text-end">
          <button type="button" class="btn btn-primary me-3">Enquire</button>
          <button type="button" class="btn btn-primary">Contact us</button>
        </div>
      </div>
      
    </div>
    
  </nav>
  
</header>