<div class="search-wrapper collapse navbar-collapse" id="search"> 
    <div class="container mx-auto">
      <div class="row justify-content-center ">
        <div class="form-group col-md-3">
            <select class="form-select" aria-label="Default select example">
                <option selected>Open this select menu</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
        </div>
        <div class="form-group col-md-3">
            <select class="form-select" aria-label="Default select example">
                <option selected>Max Bedroom</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
        </div>
        <div class="form-group col-md-3">
            <select class="form-select" aria-label="Default select example">
                <option selected>Max Bedroom</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
        </div>
        <div class="form-group col-md-2">
          <button class="btn btn-primary search-btn">SEARCH</button>
        </div>
        
    </div>
    </div>
</div>
