@import '../../../assets/scss/style.scss';
.search-wrapper {
    padding: 35px;
    background-color: $green-color;
    .form-group {
        padding: 0 12px !important;
    }
    .search-btn{
        height:60px;
        font-size: 18px;
        letter-spacing: 0.1;
        letter-spacing: 6px;
    }
}